.projects{
    padding:100px 0;
    background:#F8FAFC;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
    gap:35px;
    margin-top:60px;
}

.project-card{
    position:relative;

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.35s;

    display:flex;
    flex-direction:column;

}

.project-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(37,99,235,.18);

}

.featured-badge{

    position:absolute;

    top:15px;

    right:15px;

    background:#FACC15;

    color:#111827;

    padding:8px 16px;

    border-radius:30px;

    font-size:.8rem;

    font-weight:700;

    z-index:2;

}

.project-image{
    width:100%;
    height:220px;
    object-fit:cover;
}
.project-image img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.4s;

}

.project-card:hover .project-image img{

    transform:scale(1.05);

}

.project-content{

    padding:30px;

    flex:1;

    display:flex;

    flex-direction:column;

}

.project-content h3{

    margin-bottom:15px;

    color:var(--dark);

}

.project-content p{

    color:var(--text-light);

    line-height:1.8;

    margin-bottom:25px;

}

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-bottom:30px;

}

.tech-stack span{

    background:#EFF6FF;

    color:var(--primary);

    padding:8px 16px;

    border-radius:50px;

    font-size:.9rem;

    font-weight:600;

}

.project-links{

    margin-top:auto;

    display:flex;

    gap:15px;

}

.project-links a{

    flex:1;

    text-align:center;

    padding:12px;

    border-radius:8px;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.project-links a:first-child{

    background:var(--primary);

    color:white;

}

.project-links a:first-child:hover{

    background:#1D4ED8;

}

.project-links a:last-child{

    border:2px solid var(--primary);

    color:var(--primary);

}

.project-links a:last-child:hover{

    background:var(--primary);

    color:white;

}


@media(max-width:768px){

.project-links{

    flex-direction:column;

}

}